body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0px;
}
ol,
ul {
  padding-left: 30px;
}
.action-button {
  background: none;
  border: 1px solid #999;
  border-radius: 3px;
  font-size: 40px;
  margin: 0 3px 0 3px;
  display: inline;
}
.action-button:hover:enabled {
  background-color: #61dafb;
  cursor: pointer;
}

#container {
  margin: 20px;
}

.game-status {
  margin-bottom: 14px;
  font-size: 40px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 90px;
  font-weight: bold;
  line-height: 34px;
  min-height: 100px;
  width: 33.3%;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  display: table-cell;
  cursor: pointer;
}

.winner.square {
  background: #ffff00;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  margin: auto;
  width: 50%;
}

.game-board {
  width: 100%;
}

.board-row {
  display: table;
  width: 100%;
  margin-bottom: -2px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.game-info {
  margin-left: 20px;
  margin-top: 20px;
}

.game-info > div,
.move {
  font-weight: 600;
}

.move > a {
  text-decoration: none;
  color: black;
}

.active.move,
.active.move > a {
  color: #61dafb !important;
}

.special-thanks {
  text-align: center;
  font-size: 10px;
  font-weight: 600;
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
}

.red {
  color: #ff0000;
}

.fa-heart {
  animation: Heart-Rate infinite 1s ease;
}

@keyframes Heart-Rate {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

@media (min-width: 991px) {
  .game {
    display: flex;
    flex-direction: row;
    width: 60%;
    margin: auto;
  }
  .game-board {
    width: 450px;
  }
  .game-info {
    width: 300px;
    margin-top: 0;
  }
  .square {
    min-height: 150px;
    font-size: 140px;
  }
}

@media (max-width: 991px) {
  ol,
  ul,
  .sort-button {
    display: none;
  }
  .game-info {
    text-align: center;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .game {
    width: 80%;
  }
}
